{% if _user.isLogin %}

    Hello, {{ _user.getUserName }}!<br/>
    You group:<br/>
        {% for group in _user.getGroupName %}
            - {{ group }}<br/>
        {% endfor %}
    <form action="#"  method="POST" class="form-horizontal">
        <fieldset>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="logout"></label>
                <div class="col-md-4">
                    <button id="logout" name="logout" class="btn btn-default">{{ _lang.get('logout') }}</button>
                </div>
            </div>

        </fieldset>
    </form>

{% else %}

    <form action="#"  method="POST" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>{{ _lang.get('login') }}</legend>

            <p>Для входа можно воспользоваться учетной записью:</p>
            <p>
                <strong>Email:</strong> admin<br/>
                <strong>Password:</strong> admin
            </p>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" placeholder="email@domen.com" class="form-control input-md" required="" type="text">
                    <span class="help-block">Ваш email</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="password">{{ _lang.get('password') }}</label>
                <div class="col-md-4">
                    <input id="password" name="password" placeholder="password" class="form-control input-md" required="" type="password">
                    <span class="help-block">Ваш пароль</span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login"></label>
                <div class="col-md-4">
                    <button id="login" name="login" class="btn btn-default">{{ _lang.get('login') }}</button>
                </div>
            </div>

        </fieldset>
    </form>
{% endif %}
