<form action="#" method="POST" class="form-horizontal">
    <fieldset>

        <legend>{{ _lang.get('News_editor') }}</legend>

        <div class="form-group">
            <div class="col-md-12">
                <input id="title" name="title" placeholder="" class="form-control input-md" required="" type="text" value="{{ value.title }}">
                <span class="help-block">{{ _lang.get('News_title') }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input id="date" name="date" placeholder="" class="form-control input-md" required="" type="text" value="{{ value.date|date('d-m-Y') }}">
                <span class="help-block">{{ _lang.get('News_date') }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" id="announce" name="announce"  rows="10">{{ value.announce|raw }}</textarea>
                <span class="help-block">{{ _lang.get('News_announce') }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" id="text" name="text" rows="20">{{ value.text|raw }}</textarea>
                <span class="help-block">{{ _lang.get('News_full_text') }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button id="submit_news" name="submit_news" class="btn btn-default">{{ _lang.get('Submit') }}</button>
            </div>
        </div>

    </fieldset>
</form>

<script>

    $('#date').datepicker({
        language: "{{ _lang.getCurrentLang() }}",
        format:  "dd-mm-yyyy",
        todayHighlight: true,
        autoclose: true
    });

    tinymce.init({
        selector:'textarea',
        elements : "announce, text",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        theme: "modern",
        file_browser_callback : fm
    });

    function fm(field_name, url, type, win) {
        var roxyFileman = '/fm';
        if (roxyFileman.indexOf("?") < 0) {
            roxyFileman += "?type=" + type;
        }
        else {
            roxyFileman += "&type=" + type;
        }
        roxyFileman += '&input=' + field_name + '&value=' + win.document.getElementById(field_name).value;
        if(tinyMCE.activeEditor.settings.language){
            roxyFileman += '&langCode=' + tinyMCE.activeEditor.settings.language;
        }
        tinyMCE.activeEditor.windowManager.open({
            file: roxyFileman,
            title: 'Roxy Fileman',
            width: 850,
            height: 650,
            resizable: "yes",
            plugins: "media",
            inline: "yes",
            close_previous: "no"
        }, {     window: win,     input: field_name    });
        return false;
    }

</script>