<style type="text/css">
    div.unit div.overlay
    {
        float: right;
        display:none;
    }
</style>

<script type="text/javascript">
    $(function(){
        $(".unit").hover(function(){
                    $(this).find(".overlay").fadeIn();
                }
                ,function(){
                    $(this).find(".overlay").fadeOut();
                }
        );
    });
</script>

{% if count is defined %}
    {% for key, value in news %}
        <div class="unit">
            <h3>
                {% if value.text is not null %}
                    <a href="/{{ _page.segment }}/{{ value.id }}">{{ value.title }}</a>
                {% else %}
                    {{ value.title }}
                {% endif %}
            </h3>
            {% if _user.edit %}
            <div class="overlay">
                <a href="/{{ _page.segment }}/edit/{{ value.id }}"><i class="fa fa-edit fa-fw"></i></a>
            </div>
            {% endif %}
            <h6>
                {{ value.date|date('d/m/Y H:i:s') }}
            </h6>
            {{ value.announce|raw }}
            <hr/>
        </div>
    {% endfor %}
{% else %}
    <h3>
        {{ news.title }}
    </h3>
    <h6>
        {{ news.date|date('d/m/Y H:i')}}
    </h6>
    <hr/>
    <div class="news" position="announce">
        {{ news.announce|raw }}
    </div>
    <div class="news" position="text">
        {{ news.text|raw }}
    </div>
    <hr/>
{% endif %}
