<form method="POST" class="form-horizontal">
    <fieldset>

        <legend>Отчет КнутоПряник</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="from"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon">От даты</span>
                    <input id="from" name="from" class="form-control" placeholder="" value="{{ from }}" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="to"></label>
            <div class="col-md-3">
                <div class="input-group">
                    <input id="to" name="to" class="form-control" placeholder="" value="{{ to }}" type="text">
                    <span class="input-group-addon">По дату</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="type"></label>
            <div class="col-md-4">
                <label class="radio-inline" for="type-0">
                    <input type="radio" name="type" id="type-0" value="score" checked="checked">
                    Баллы
                </label>
                <label class="radio-inline" for="type-1">
                    <input type="radio" name="type" id="type-1" value="comment">
                    Комментарии
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="send"></label>
            <div class="col-md-2">
                <button id="send" name="send" class="btn btn-info">Выбрать</button>
            </div>
        </div>

    </fieldset>
</form>


{% if type == 'score' %}
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Орлов получено</th>
            <th>Решек получено</th>
            <th>Орлов роздано</th>
            <th>Решек роздано</th>
            <th>Баллы</th>
        </tr>
        </thead>
        <tbody>
        {% for p in res %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.cakes_in }}</td>
                <td>{{ p.whips_in }}</td>
                <td>{{ p.cakes_out }}</td>
                <td>{{ p.whips_out }}</td>
                {#
                 за каждого полученного "орла" = 1 балл,
                 за каждого выданного Орла = 1 балл,
                 за каждую выданную "решку" = 3 балла,
                 за каждую полученную "решку" = минус 3 балла.
                 #}
                <td>{{ p.cakes_in + p.cakes_out + (p.whips_out * 3) - (p.whips_in * 3) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% elseif type == 'comment' %}
    <table class="table">
        <thead>
        <tr>
            <th>Кому</th>
            <th>От кого</th>
            <th>Метод</th>
            <th>Комментарий</th>
            <th>Когда</th>
        </tr>
        </thead>
        <tbody>
        {% for p in res %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.user }}</td>
                <td>
                    {% if p.method == 1 %}Орел
                    {% elseif p.method == 2 %}Решка
                    {% endif %}
                </td>
                <td>{{ p.comment }}</td>
                <td>{{ p.date | date("d/m/Y")}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    $('.form-control').datepicker({
        language: "{{ _lang.getCurrentLang() }}",
        format:  "dd-mm-yyyy",
        todayHighlight: true,
        autoclose: true
    });

    $("table").tablesorter({
        theme : "bootstrap",
        widthFixed: true,
        headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
        widgets : [ "uitheme", "filter", "zebra" ],
        widgetOptions : {
            //zebra : ["even", "odd"]
        }
    })
</script>